@font-face {
 font-family: ProductSans;
 src: url('../fonts/ProductSans-Regular.ttf');
 font-weight: normal;
 font-style: normal;
}
.whitebackground {
  background-color: #ffffff;
  border-radius: 4px;
  border-spacing: 5px;
}
h1 {
  font-family: ProductSans, sans-serif;
  position: relative;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px
}
p {
  font-family: ProductSans, sans-serif;
  position: relative;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px
}
button {
  padding: 8px 20px;
  border-width: 0px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px
}
.YouTube {
  background: #e62222;
}
.YouTube:hover {
 background: #b41d1d;
}
