@font-face {
 font-family: ProductSans;
 src: url('../fonts/ProductSans-Regular.ttf');
 font-weight: normal;
 font-style: normal;
}
.whitebackground {
  background-color: #eeeeee;
  border-radius: 4px;
  border-spacing: 5px;
  box-shadow: 0 2px 30px rgb(0 0 0 / 20%)
}
h1 {
  font-family: ProductSans, sans-serif;
  position: relative;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  text-shadow: 0 2px 8px rgb(0 0 0 / 25%);
}
p {
  font-family: ProductSans, sans-serif;
  position: relative;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  text-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}
button {
  padding: 8px 20px;
  border-width: 0px;
  border-radius: 3px;
  color: #ffffff;
  background: #387bc4;
  cursor: pointer;
  position: relative;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  text-shadow: 0 2px 8px rgb(0 0 0 / 30%);
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}
button:hover {
 background: #27598f;
}
.YouTube {
  background: #e62222;
}
.YouTube:hover {
 background: #b41d1d;
}
