@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
 background-color: #eeeeee;
}
div#header {
 background-color: #7aa0ff;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: -10px;
 height: 150px;
}
p {
 font-family: Roboto;
 font-size: 20px;
 color: #363636;
 text-align: center;
 margin-top: 50px;
}
h1 {
 font-family: Roboto; 
 font-size: 40px; 
 font-weight: 400; 
 color: #ffffff; 
}
button {
 background-color: #a8a8a8;
 color: #ffffff;
 font-family: Roboto;
 font-size: 16px;
 font-weight: 500;
 border-width: 0px;
 border-radius: 4px;
 padding: 12px 48px;
 position: absolute;
 left: 50%;
 transform: translate(-50%);
 cursor: pointer;
 transition: background-color 0.2s ease-in-out;
}
button:hover {
 background-color: #979797;
}
button.YouTube {
 background-color: #e62c2c;
}
button.YouTube:hover {
 background-color: #bd2424;
}
button.gdeditor {
 background-color: #e62c2c;
}
button.gdeditor:hover {
 background-color: #bd2424;
}
