@font-face {
 font-family: ProductSans;
 src: url('../fonts/ProductSans-Regular.ttf');
 font-weight: normal;
 font-style: normal;
}
.whitebackground {
  background-color: #eeeeee;
  border-radius: 12px;
  box-shadow: 0 2px 30px rgb(0 0 0 / 20%);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
h1 {
  font-family: ProductSans, sans-serif;
  position: relative;
  text-shadow: 0 2px 10px rgb(0 0 0 / 30%);
}
p {
  font-family: ProductSans, sans-serif;
  position: relative;
  text-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}
button {
  padding: 8px 20px;
  border-width: 0px;
  border-radius: 3px;
  color: #ffffff;
  background: #387bc4;
  cursor: pointer;
  position: relative;
  text-shadow: 0 2px 8px rgb(0 0 0 / 30%);
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}
button:hover {
 background: #27598f;
}
.YouTube {
  background: #e62222;
}
.YouTube:hover {
 background: #b41d1d;
}
