html {
 background-image: /assets/bg.png;
 background-color: #287dff;
 background-blend-mode: multiply;
}
.whitebackground {
  background-color: #ffffff;
  border-radius: 4px;
  border-spacing: 5px;
}
h1 {
  font-family: Helvetica, sans-serif;
  position: relative;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px
}
p {
  font-family: Helvetica, sans-serif;
  position: relative;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px
}
button {
  padding: 8px 20px;
  border-width: 0px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px
}
.YouTube {
  background: #e62222;
}
