@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
 background-color: #eeeeee;
}
div#header {
 background-color: #7aa0ff;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: -10px;
 height: 200px;
}
div#content {
 display: flex;
 flex-direction: column;
 align-items: center;
}
div#glass {
 background-image: linear-gradient(#ffffffaa, #ffffff66);
 backdrop-filter: blur(2px);
 border: solid;
 border-color: #ffffff;
 border-width: 2px;
 border-radius: 16px;
 padding: 0px 32px;
 display: flex;
 flex-direction: column;
 align-items: center;
}
p {
 font-family: Roboto;
 font-size: 20px;
 color: #363636;
 text-align: center;
 margin-top: 50px;
}
h1 {
 font-family: Roboto; 
 font-size: 40px; 
 font-weight: 400; 
 color: #ffffff; 
}
section {
 font-family: ui-serif;
 font-size: 35px;
 color: #363636;
 margin-top: 20px;
 margin-bottom: -30px;
 padding: 0 0 10px;
 text-align: left;
 border-width: 0 0 2px 0;
 border-color: #363636;
 border-style: solid;
}
a {
 color: #316cff;
}
button {
 background-color: #a8a8a8;
 color: #ffffff;
 font-family: Roboto;
 font-size: 16px;
 font-weight: 500;
 border-width: 0px;
 border-radius: 4px;
 padding: 12px 48px;
 margin-bottom: 10px;
 cursor: pointer;
 transition: background-color 0.2s ease-in-out;
}
button:hover {
 background-color: #979797;
}
button.YouTube {
 background-color: #e62c2c;
}
button.YouTube:hover {
 background-color: #bd2424;
}
button.gdeditor {
 background-color: #e62c2c;
}
button.gdeditor:hover {
 background-color: #bd2424;
}
